/* Corpo da página */
body {
    background: linear-gradient(160deg, #0f172a, #020617);
    color: azure;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

strong {
    color: #5d5dad;
}

/* Lista sem marcadores */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Informações da Grace Hopper */
.informacao {
    background: #1e293b;
    border: 2px solid #0b5cff;
    width: 90%;
    height: 700px;
    max-width: 250px;
    margin: 20px auto;
    padding: 15px;
    border-radius: 22px;
    font-size: clamp(12px, 2vw, 20px);
    box-shadow: 0 8px 20px rgba(11, 92, 255, 0.25);
    overflow-wrap: break-word;
    margin-top: 30px;
    margin-left: 40px;
}

.informacao h2 {
    text-align: center;
    margin-bottom: 10px;
}

.informacao img {
    display: block;
    width: 180px;
    border-radius: 12px;
    margin: 0 auto 10px auto;
}

.informacao li {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}

/* Tempo de vida e serviço em coluna */
.coisas {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6px 0;
}

#tempo span,
#servico span {
    margin-top: 2px;
    font-weight: normal;
}

/* Blocos principais (Biografia e Objetivo) */
.biografia {
    background: #1e293b;
    border: 2px solid #0b5cff;
    width: 1420px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 22px;
    font-size: clamp(12px, 2vw, 20px);
    box-shadow: 0 8px 20px rgba(11, 92, 255, 0.25);
    overflow-wrap: break-word;
    margin-top: -750px;
    margin-left: 380px;
}

.objetivo {
    background: #1e293b;
    border: 2px solid #0b5cff;
    width: 1420px;
    max-width: 1600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 22px;
    font-size: clamp(12px, 2vw, 20px);
    box-shadow: 0 8px 20px rgba(11, 92, 255, 0.25);
    overflow-wrap: break-word;
    margin-top: 0px;
    margin-left: 380px;
}

/* Títulos internos */
.titulo {
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: clamp(18px, 2.2vw, 28px);
}

/* Sorteio */
.sorteio {
    background: #1e293b;
    border: 2px solid #0b5cff;
    width: 700px;
    margin: 20px auto 10px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(11, 92, 255, 0.25);
    text-align: center;
    margin-top: 100px;
}

.sorteio h2 {
    margin-bottom: 10px;
    font-size: clamp(16px, 2vw, 24px);
}

#nome-aleatorio {
    margin: 15px 0;
    font-size: clamp(14px, 1.5vw, 20px);
    font-weight: bold;
    min-height: 24px;
}

/* Botão de sorteio */
.botao-container {
    text-align: center;
    margin: 10px auto 40px auto;
}

#botao-sorteio {
    padding: 10px 20px;
    font-size: clamp(14px, 1.5vw, 18px);
    border: none;
    border-radius: 8px;
    background-color: #0b5cff;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

#botao-sorteio:hover {
    background-color: #2563eb
}

#nome {
    font-size: x-large;
    text-align: center;
    margin-bottom: 8%;
}