<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FARPA</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body style="background-color: #0e0e0e;">
    <div class="biografia">
            <img id="foto-grace" id="foto-grace" src="./static/images/graceWhooper.png" alt="imagem de graceWhooper">
        <div class="texto">
            <h2>Grace Hopper</h2>
                <p id="texto-grace">
                    Antes da Marinha, Hopper conquistou o Ph.D. em matemática na Universidade de Yale e foi professora de
                    matemática na Faculdade Vassar.
                    Tentou entrar na Marinha durante a Segunda Guerra Mundial, mas foi rejeitada por ter 34 anos. Por
                    consequência, entrou na Navy Reserves (em tradução livre, a Reserva da Marinha).
                </p>
        </div>
        </div>
        <div class="container">
            <h1>Roleta Dela</h1>
            <div class="Roleta-box">Clique para ganhar
            </div>
            <button class="btn" onclick="girarRoleta()">Girar</button>
            <footer>
                <p>Temática: Programação & História de Grace Hopper</p>
            </footer>
        </div>
</body>

</html>