<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FARPA</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>

<body>
    <div class="biografia">
        <img id="foto-grace" id="foto-grace" src="./static/images/graceWhooper.png" alt="imagem de graceWhooper">
        <div class="texto">
            <h2>Grace Hopper</h2>
            <p id="texto-grace">
                Grace Murray Hopper (Nova Iorque, 9 de dezembro de 1906 — Condado de Arlington, 1 de janeiro de 1992)
                foi almirante e analista de sistemas da Marinha dos Estados Unidos nas décadas de 1940 e 1950,
                criadora da linguagem de programação de alto nível Flow-Matic (em desuso) — base para a criação do COBOL
                — e uma das primeiras programadoras do computador Harvard Mark I[1] em
                1944.
            </p>
        </div>
        <div class="container">
            <h1>Roleta Dela</h1>
            <div class="Roleta-box">Clique em "Girar" para sortear
            </div>
            <button class="btn" onclick="girarRoleta()">Girar</button>
            <footer>
                <p>Temática: Programação & História de Grace Hopper</p>
            </footer>
        </div>

    </div>
</body>

</html>